body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  background-color: #f9d976;
  /* background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%); */
  background-repeat: no-repeat;
  background-size: cover;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(217, 144, 88);
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

#header-title {
  display: flex;
}

#logo-container {
  margin-right: 5%;
}

#header-img {
  width: 100px;
  border-radius: 50%;
  margin-top: 5%;
}

#title {
  font-family: "Lobster", cursive;
}

.navbar {
  margin-right: 100px;
}

#nav-bar ul li {
  text-align: right;
  list-style: none;
  display: inline;
  margin-left: 10px;
  font-weight: bolder;
}

@media (max-width: 600px) {
  #nav-bar ul li {
    text-align: right;
    list-style: none;
    display: block;
    font-weight: bolder;
  }
}

#qoute {
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-weight: bolder;
  font-size: 150%;
}

h3 {
  background-color: orange;
  text-align: center;
}

#history,
#nutrition,
#cow,
#goat,
#sheep,
#email-container {
  padding: 20px;
  border: 1px solid black;
  background-color: #fffcf9;
  background-image: linear-gradient(150deg, #f8e2cc 0%, #ffd166 75%);
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}

@media (max-width: 900px) {
  #history {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    overflow-y: auto;
  }

  #history-video {
    border-bottom: thick solid black;
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #history-text {
    margin-top: 5%;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    max-height: 400px;
    overflow-y: auto;
  }
}

@media (min-width: 901px) {
  #history {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
    overflow: auto;
    max-height: 500px;
  }
  #history-video {
    border-right: thick solid black;
    padding-right: 5%;
    padding-left: 5%;
    display: flex;
    align-items: center;
  }

  #history-text {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    max-height: 400px;
    overflow-y: auto;
  }
}

@media (max-width: 497px) {
  #video {
    width: 200px;
    height: auto;
  }

  #history-text {
    font-size: smaller;
  }
}

#nutrition {
  margin: 5% 10% 5% 10%;
  font-family: "Courier New", Courier, monospace;
}

#types-of-cheese {
  display: flex;
  justify-content: space-evenly;
}

#cow,
#goat,
#sheep {
  font-family: "Courier New", Courier, monospace;
}

.type-name {
  text-align: center;
  background-color: orange;
  font-weight: bold;
}

.types ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.animal_photo img {
  width: 100px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#email-container {
  margin: 5% 25% 5% 25%;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  overflow: auto;
}
